<div class="Task-from-rang section">
  <h1>Задачи по должностям</h1><span class="col-sm-2">Дата</span>
  <div id="date-Task-from-rang" class="input-group date col-sm-10">
    <input type="text" class="form-control" /><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
  </div>
  <div class="Task-from-rang-row m20_0"><span class="col-sm-2">Иванов</span>
    <div class="progress">
      <div style="width: 35%" class="progress-bar progress-bar-success"><span class="sr-only">35% Complete (success)</span></div>
      <div style="width: 20%" class="progress-bar progress-bar-warning progress-bar-striped"><span class="sr-only">20% Complete (warning)</span></div>
      <div style="width: 10%" class="progress-bar progress-bar-danger"><span class="sr-only">10% Complete (danger)</span></div>
    </div>
  </div>
  <div class="Task-from-rang-row m20_0"><span class="col-sm-2">Попов</span>
    <div class="progress">
      <div style="width: 35%" class="progress-bar progress-bar-success"><span class="sr-only">35% Complete (success)</span></div>
      <div style="width: 20%" class="progress-bar progress-bar-warning progress-bar-striped"><span class="sr-only">20% Complete (warning)</span></div>
      <div style="width: 10%" class="progress-bar progress-bar-danger"><span class="sr-only">10% Complete (danger)</span></div>
    </div>
  </div>
  <div class="Task-from-rang-row m20_0"><span class="col-sm-2">Сидоров</span>
    <div class="progress">
      <div style="width: 35%" class="progress-bar progress-bar-success"><span class="sr-only">35% Complete (success)</span></div>
      <div style="width: 20%" class="progress-bar progress-bar-warning progress-bar-striped"><span class="sr-only">20% Complete (warning)</span></div>
      <div style="width: 10%" class="progress-bar progress-bar-danger"><span class="sr-only">10% Complete (danger)</span></div>
    </div>
  </div>
  <div class="progres-color-info">
    <div class="progres-color-info-items">
      <div class="progres-color-info-good"></div>
      <div class="progres-color-info-text">Задачи, выполненые вовремя</div>
    </div>
    <div class="progres-color-info-items">
      <div class="progres-color-info-time"></div>
      <div class="progres-color-info-text">Задачи, в процессе выполнения</div>
    </div>
    <div class="progres-color-info-items">
      <div class="progres-color-info-bad"></div>
      <div class="progres-color-info-text">Просроченные задачи</div>
    </div>
  </div>
</div>
